@import 'libs/bootstrap-reboot.min'

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap')


* 
    font-family: 'Montserrat', sans-serif
    margin: 0
    padding: 0



@import 'base/mixins'
@import 'base/variables'
@import 'blocks/all'
@import 'blocks/title'
@import 'blocks/features'
@import 'blocks/testimonials'
@import 'blocks/press'
@import 'blocks/pricing'
@import 'blocks/cta'
@import 'base/media'